* {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 32px;
    text-transform: none;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: none;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-transform: none;
    font-weight: 600;
    text-align: center;
}

select,
small,
ol,
li,
label {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 10px;
}

p {
    padding-top: 20px;
    text-indent: 30px;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
}


.y-axis path.domain {
    display: none;
}

.y-axis line {
    stroke: #ddd;
    stroke-dasharray: 2;
}